th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    padding-bottom: 5px;
}

tr {
    background-color: white;
    height: auto;
    color: #4c4949;
}

tr:hover {
    background-color: #f3f3f3;
    color: black;
}

tr:nth-last-child(2n):hover {
    background-color: #c5e1d9;
    color: black;
}

tr:nth-last-child(2n) {
    background-color: #d2f0e7;
    color: #4c4949;
}

form, label, input {
    margin: 10px;
}


div.login, div.signup, div.edit {
    margin-top: 50px;
    border-style: solid;
    border-radius: 10px;
    border-color:gainsboro;
    padding-top: 30px;
    text-align: center;
    box-shadow: 5px 10px 18px #8b8b8b;
}

table {
    border-collapse: separate;
    margin: auto;
    width: 75%;
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    box-shadow: 5px 10px 18px #8b8b8b;

}

.content {
    padding-top: 80px;
}

.navbar {
    background-color: #013b4a;
}

a.nav-link, span.navbar-text {
    color: #efefef;
}

span.navbar-text {
    font-style: italic;
}

a.nav-link:hover {
    color: #a4a4a4;
}

h2 {
    text-align: center;
    padding-bottom: 35px;
}

div.col-sm-8 {
    margin: auto;
    box-shadow: 2px 2px 7px #8b8b8b;
    padding: 10px;
}

ul.description {
   text-align: left;
}

h5, td.subject_name, div.flch {
    color:#54acd2;
    font-weight: bold;
}

div.flch {
    padding-top: 10px;
    text-align: center;
}
div.user {
    margin-bottom: 25px;
    text-align: center;
}

h1 {
    text-align: center;
}

* {
    font-family: Raleway,sans-serif;
}

div.add {
    text-align: center;
}