{% extends '_layout.html' %}

{% block title %}Subjects{% endblock %}

{% block content %}

<h1>Subjects</h1>

{% if session['role'] == 'admin' %}
<div class="add container">
<a class="btn btn-info" href="{{ url_for('new_subject') }}" role="button">Add a new subject</a>
</div>
{% endif %}

<table>
    <tr>
        <th>Subject</th>
        <th>About</th>
    </tr>
    {% for row in result %}
    <tr>
        <td class="subject_name">{{ row.subject_name }}</td>
        <td>
            <ul class="description">
                <li>{{ row.subject_description_1 }}</li>
                <li>{{ row.subject_description_2 }}</li>
            </ul>
        </td>
        {% if session['role'] == 'user' %}
        <td>
            <a class="btn btn-success" href="/addsubj?subject_id={{row.subject_id}}" role="button">Select</a>
        </td>
        {% elif session['role'] == 'admin' %}
        <td>
            <a class="btn btn-success" href="/viewsubjusr?subject_id={{ row.subject_id }}" role="button">View students of subject</a>
            <a class="btn btn-warning" href="/editsubj?subject_id={{ row.subject_id }}" role="button">Edit subject</a>
            <a class="btn btn-danger" href="/delsubj?subject_id={{ row.subject_id }}" role="button" onclick="return confirm('Are you sure?')">Delete subject</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

{% endblock %}

