{% extends '_layout.html' %}

{% block title %}Users Dashboard{% endblock %}

{% block content %}

<h1>Users</h1>

{% if session['role'] == 'admin' %}
<div class="add container">
    <a class="btn btn-info" href="{{ url_for('add_user') }}" role="button">Add a new user</a>
</div>
{% endif %}

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.first_name }}</td>
        <td>{{ row.last_name }}</td>
        <td>{{ row.email }}</td>
        <td>
            <a class="btn btn-primary" href="/viewusr?user_id={{ row.user_id }}" role="button">View user</a>
            <a class="btn btn-warning" href="/editusr?user_id={{ row.user_id }}" role="button">Edit user</a>
            <a class="btn btn-danger" href="/delusr?user_id={{ row.user_id }}" role="button" onclick="return confirm('Are you sure?')">Delete user</a>
        </td>
        <td>
            <a class="btn btn-success" href="/selsubj?user_id={{ row.user_id }}" role="button">View selected subjects</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
