{% extends '_layout.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="signup container col-sm-3">
    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <h1><img src="{{ url_for('static', filename='images/' + ('logo.png')) }}" height="75"/>Sign up</h1>
        </div>

        <div class="mb-3">
            <input id="first_name" name="first_name" class="form-control" placeholder="First name">
        </div>

        <div class="mb-3">
            <input id="last_name" name="last_name" class="form-control" placeholder="Last name">
        </div>

        <div class="mb-3">
            <input id="email" name="email" type="email" class="form-control" placeholder="Email address">
            <p id="message"></p>
        </div>

        <div class="mb-3">
            <input id="password" name="password" type="password" class="form-control" placeholder="Password">
        </div>

        <div class="mb-3">
            <label for="avatar">Profile picture:</label>
            <input id="pic" name="avatar" type="file" accept="image/*" class="form-control">
        </div>

        <input type="submit" value="Sign Up" class="btn btn-primary btn-block mb-4">
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
</div>
<script>
    let emailInput = document.querySelector("#email");
    let message = document.querySelector("#message");

    emailInput.addEventListener("input", checkUniqueEmail);

    async function checkUniqueEmail() {
        let response = await fetch("/checkemail?email=" + emailInput.value);
        let json = await response.json();

        if (json.status == 'OK') {
            message.style.color = 'green';
            message.textContent = 'Email is available';
        } else {
            message.style.color = 'red';
            message.textContent = 'Email is taken';
        }
    }
</script>
{% endblock %}
